#heading {
    color: red;
}
.header{
    display:flex;
    justify-content: space-between;
    border: 1px solid black;
}
.logo{
    padding: 15px;
    width: 100px;
}
.nav_items{
    padding: 0px 20px;

}
.nav_items>ul{
    font-size: 20px;
    display:flex;
    list-style-type: none;
}
.nav_items>ul>li{
    padding: 10px;
    /* margin: 10px;  */
     border: 10px;
} 
.res-conatiner{
    display: flex;
    flex-wrap: wrap;
}
.res-card{
    padding: 5px;
    width:200px;
    margin: 5px;
    border: 1px solid white;
}
.res-card:hover{
    cursor: pointer;
    border: 1px solid black;
    width: 250px;
    transition: ease;
    transition-duration: 500ms;
}
/* .res-card:unhover{
    cursor: pointer;
    border: 1px solid black;
    width: 250px;
    height: 700px;
    transition: ease;
    transition-duration: 500ms;
} */
.search{
    padding: 10px;
    border: 1px solid black;
}
.meghana{
    width: 100%;
}
.filter-btn{
    margin: 10px;
    cursor: pointer;
}